.title {
    font-family: "Bookerly-Bold", sans-serif;
    color: #182B49;
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font-family: "Bookerly-Bold", sans-serif;
    color: #182B49;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.body {
    font-family: "Times-New-Roman", serif;
    margin-left: 160px;
    margin-right: 160px;
    text-align: justify; /* Justify-align the paragraph */
    padding: 0 10px; /* Add padding on either side of the paragraph */
    padding-bottom: 20px;
}

.header {
    background-color: #fff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #C69214;
    color: #fff;
    text-align: center;
    padding: 20px;
    align-items: center;
 }

.footer-buttons {
    color: #182B49;
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}

.logo {
    font-family: "Bookerly-Bold", sans-serif;
    color: #C69214;
    font-size: 32px;
    display: flex;
    font-weight: bold;
}

.logo-image {
    width: 40px; /* Adjust the width as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

.nav {
    font-family: "Bookerly-Bold", sans-serif;
    color: #182B49;
    display: flex;
    justify-content: right;
    background-color: #fff;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #C69214;
}

.section {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
  }
  
.container video {
    width: 40%;
}
