@font-face {
    font-family: 'TitleFont'; /* Choose a name for your title font */
    src: url('fonts/Bookerly-Bold.ttf') format('truetype');
    /* Add additional src lines for different font formats if needed */
}

@font-face {
    font-family: 'BodyFont'; /* Choose a name for your body font */
    src: url('fonts/cmunrm.ttf') format('truetype');
    /* Add additional src lines for different font formats if needed */
}

body {
    font-family: 'BodyFont', sans-serif; /* Default font for the entire document or specific elements */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TitleFont', sans-serif; /* Title font for heading elements */
}

nav {
    font-family: 'TitleFont', sans-serif; /* Font for the navigation links */
}

nav a {
    text-decoration: none;
    color: #b31616;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #0b117c;
    transition: background-color 0.3s;
    font-family: 'TitleFont', sans-serif; /* Font for individual navigation links */
}

nav a:hover {
    background-color: #ccc;
}